{% block content %}
{% block filter_list %}

        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="{{ cats.url }}"><img class="card-img-top" src="{{ product.image.url }}" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{{ cats.url }}">{{ product.title  }}</a>
                </h4>
                <h5>{{ product.price }} руб.</h5>
                <p class="card-text"></p>
              </div>
            </div>
          </div>

{% endblock filter_list %}
{% endblock content %}