{% block cats %}
{% include 'categoryes.html' %}
{% endblock cats%}
{% block product %}
    {% for products in product %}
<div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="{% url 'product' %}{{ products.category.slug }}/{{ products.articul }}"><img class="card-img-top" src="{{ products.image.url }}" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{% url 'product' %}{{ products.category.slug }}/{{ products.articul }}">{{ products.title }}</a>
                </h4>
                <h5>{{ products.price }} руб.</h5>
                <p class="card-text">Test</p>
              </div>
            </div>
          </div>

</div>
    {% endfor %}
{% endblock product %}