{% extends 'base.html' %}

{% block content %}
    <div class="col-sm-4 col-md-8">
        <h4 class="card-title" style="padding:5px;margin:10px;">Личный кабинет</h4>
    </div>
<div class="row justify-content-center">
    <div class="col-sm-4 col-md-8">
        <div class="card" style="padding:5px;margin:10px;">
        <div class="card-body">
        <h4 class="card-title">Персональные данные</h4>

        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
            <!--<div class="form-group" style="margin:5px>-->
                <!--<label for="{{ form.email.auto_id }}" class="col-form-label">{{ form.email.label }}<span class="asteriskField">*</span> </label>-->
                <!--<input disabled type="email" name="{{ form.email.name }}" placeholder="E-mail" value="{{ form.email.value }}" class="form-control customclearablefileinput" id="{{ form.email.auto_id }}">-->
                <!--<small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.email.help_text }}</small>-->
             <!--</div>-->
            <div class="form-group" style="margin:5px>
                <label for="{{ form.first_name.auto_id }}" class="col-form-label">{{ form.first_name.label }}</label>
                <input type="text" name="{{ form.first_name.name }}" placeholder="{{ form.first_name.label }}" value="{{ form.first_name.value }}"  class="form-control customclearablefileinput" id="{{ form.first_name.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.first_name.help_text }}</small>
             </div>
            <div class="form-group" style="margin:5px>
                <label for="{{ form.last_name.auto_id }}" class="col-form-label">{{ form.last_name.label }} </label>
                <input type="text" name="{{ form.last_name.name }}" placeholder="{{ form.last_name.label }}" value="{{ form.last_name.value }}"  class="form-control customclearablefileinput" id="{{ form.last_name.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.first_name.help_text }}</small>
             </div>
            <div class="form-group" style="margin:5px>
                <label for="{{ form.email.auto_id }}" class="col-form-label">{{ form.email.label }} </label>
                <input type="text" name="{{ form.email.name }}" placeholder="{{ form.email.label }}" value="{{ form.email.value }}"  class="form-control customclearablefileinput" id="{{ form.email.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.first_name.help_text }}</small>
             </div>
            <div class="form-group" style="margin:5px>
                <label for="{{ form.telephone.auto_id }}" class="col-form-label">{{ form.telephone.label }} </label>
                <input type="text" name="{{ form.telephone.name }}" placeholder="{{ form.telephone.label }}" value="{{ form.telephone.value }}"  class="form-control customclearablefileinput" id="{{ form.telephone.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.first_name.help_text }}</small>
             </div>
        </form>
        </div>
        </div>
    </div>
</div>
    <div class="row justify-content-center">
    <div class="col-sm-4 col-md-8">
        <div class="card" style="padding:5px;margin:10px;">
        <div class="card-body">
        <h4 class="card-title">Данные об организации</h4>

        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
            <!--<div class="form-group" style="margin:5px>-->
                <!--<label for="{{ form.email.auto_id }}" class="col-form-label">{{ form.email.label }}<span class="asteriskField">*</span> </label>-->
                <!--<input disabled type="email" name="{{ form.email.name }}" placeholder="E-mail" value="{{ form.email.value }}" class="form-control customclearablefileinput" id="{{ form.email.auto_id }}">-->
                <!--<small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.email.help_text }}</small>-->
             <!--</div>-->
            <div class="form-group" style="margin:5px>
                <label for="{{ form.name_org.auto_id }}" class="col-form-label">{{ form.name_org.label }}</label>
                <input type="text" name="{{ form.name_org.name }}" placeholder="{{ form.name_org.label }}" value="{{ form.name_org.value }}"  class="form-control customclearablefileinput" id="{{ form.name_org.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.name_org.help_text }}</small>
             </div>
            <div class="form-group" style="margin:5px>
                <label for="{{ form.name_director.auto_id }}" class="col-form-label">{{ form.name_director.label }} </label>
                <input type="text" name="{{ form.name_director.name }}" placeholder="{{ form.name_director.label }}" value="{{ form.name_director.value }}"  class="form-control customclearablefileinput" id="{{ form.name_director.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.first_name.help_text }}</small>
             </div>
            <div class="form-group" style="margin:5px>
                <label for="{{ form.email.auto_id }}" class="col-form-label">{{ form.email.label }} </label>
                <input type="text" name="{{ form.email.name }}" placeholder="{{ form.email.label }}" value="{{ form.email.value }}"  class="form-control customclearablefileinput" id="{{ form.email.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.first_name.help_text }}</small>
             </div>
            <div class="form-group" style="margin:5px>
                <label for="{{ form.telephone.auto_id }}" class="col-form-label">{{ form.telephone.label }} </label>
                <input type="text" name="{{ form.telephone.name }}" placeholder="{{ form.telephone.label }}" value="{{ form.telephone.value }}"  class="form-control customclearablefileinput" id="{{ form.telephone.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.first_name.help_text }}</small>
             </div>
            <div class="form-group" style="margin:5px>
                <label for="{{ form.ur_address.auto_id }}" class="col-form-label">{{ form.ur_address.label }} </label>
                <input type="text" name="{{ form.ur_address.name }}" placeholder="{{ form.ur_address.label }}" value="{{ form.ur_address.value }}"  class="form-control customclearablefileinput" id="{{ form.ur_address.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.first_name.help_text }}</small>
             </div>
            <div class="form-group" style="margin:5px>
                <label for="{{ form.fk_address.auto_id }}" class="col-form-label">{{ form.fk_address.label }} </label>
                <input type="text" name="{{ form.fk_address.name }}" placeholder="{{ form.fk_address.label }}" value="{{ form.fk_address.value }}"  class="form-control customclearablefileinput" id="{{ form.fk_address.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.first_name.help_text }}</small>
             </div>
            <div class="form-group" style="margin:5px>
                <label for="{{ form.inn.auto_id }}" class="col-form-label">{{ form.inn.label }} </label>
                <input type="text" name="{{ form.inn.name }}" placeholder="{{ form.inn.label }}" value="{{ form.fk_address.value }}"  class="form-control customclearablefileinput" id="{{ form.inn.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.first_name.help_text }}</small>
             </div>
            <div class="form-group" style="margin:5px>
                <label for="{{ form.kpp.auto_id }}" class="col-form-label">{{ form.kpp.label }} </label>
                <input type="text" name="{{ form.kpp.name }}" placeholder="{{ form.kpp.label }}" value="{{ form.kpp.value }}"  class="form-control customclearablefileinput" id="{{ form.kpp.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.first_name.help_text }}</small>
             </div>
            <div class="form-group" style="margin:5px>
                <label for="{{ form.ogrn.auto_id }}" class="col-form-label">{{ form.ogrn.label }} </label>
                <input type="text" name="{{ form.ogrn.name }}" placeholder="{{ form.ogrn.label }}" value="{{ form.ogrn.value }}"  class="form-control customclearablefileinput" id="{{ form.ogrn.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.first_name.help_text }}</small>
             </div>
            <div class="form-group" style="margin:5px>
                <label for="{{ form.okpo.auto_id }}" class="col-form-label">{{ form.okpo.label }} </label>
                <input type="text" name="{{ form.okpo.name }}" placeholder="{{ form.okpo.label }}" value="{{ form.okpo.value }}"  class="form-control customclearablefileinput" id="{{ form.okpo.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.first_name.help_text }}</small>
             </div>
            <div class="form-group" style="margin:5px>
                <label for="{{ form.okvid.auto_id }}" class="col-form-label">{{ form.okvid.label }} </label>
                <input type="text" name="{{ form.okvid.name }}" placeholder="{{ form.okvid.label }}" value="{{ form.okvid.value }}"  class="form-control customclearablefileinput" id="{{ form.okvid.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.first_name.help_text }}</small>
             </div>
            <div class="form-group" style="margin:5px>
                <label for="{{ form.name_bank.auto_id }}" class="col-form-label">{{ form.name_bank.label }} </label>
                <input type="text" name="{{ form.name_bank.name }}" placeholder="{{ form.name_bank.label }}" value="{{ form.name_bank.value }}"  class="form-control customclearablefileinput" id="{{ form.name_bank.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.first_name.help_text }}</small>
             </div>
            <div class="form-group" style="margin:5px>
                <label for="{{ form.bic.auto_id }}" class="col-form-label">{{ form.bic.label }} </label>
                <input type="text" name="{{ form.bic.name }}" placeholder="{{ form.bic.label }}" value="{{ form.bic.value }}"  class="form-control customclearablefileinput" id="{{ form.bic.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.first_name.help_text }}</small>
             </div>
            <div class="form-group" style="margin:5px>
                <label for="{{ form.r_chet.auto_id }}" class="col-form-label">{{ form.r_chet.label }} </label>
                <input type="text" name="{{ form.r_chet.name }}" placeholder="{{ form.r_chet.label }}" value="{{ form.r_chet.value }}"  class="form-control customclearablefileinput" id="{{ form.r_chet.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.first_name.help_text }}</small>
             </div>
            <div class="form-group" style="margin:5px>
                <label for="{{ form.k_chet.auto_id }}" class="col-form-label">{{ form.k_chet.label }} </label>
                <input type="text" name="{{ form.k_chet.name }}" placeholder="{{ form.k_chet.label }}" value="{{ form.k_chet.value }}"  class="form-control customclearablefileinput" id="{{ form.k_chet.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.first_name.help_text }}</small>
             </div>
            <div class="form-group" style="margin:5px>
                <label for="{{ form.post_address.auto_id }}" class="col-form-label">{{ form.post_address.label }} </label>
                <input type="text" name="{{ form.post_address.name }}" placeholder="{{ form.post_address.label }}" value="{{ form.post_address.value }}"  class="form-control customclearablefileinput" id="{{ form.post_address.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.first_name.help_text }}</small>
             </div>
            <div class="form-group" role="group" aria-label="Buttons" align="center">
                <button type="submit" class="btn btn-primary btn-block">Сохранить</button>

            </div>
        </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}
