{% extends 'base.html' %}

{% block content %}
    <div class="col-sm-4 col-md-8">
        <h4 class="card-title" style="padding:5px;margin:10px;">Личный кабинет</h4>
    </div>
<div class="row justify-content-center">
    <div class="col-sm-4 col-md-8">
        <div class="card" style="padding:5px;margin:10px;">
        <div class="card-body">
        <h4 class="card-title">Персональные данные</h4>

        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
            <!--<div class="form-group" style="margin:5px>-->
                <!--<label for="{{ form.email.auto_id }}" class="col-form-label">{{ form.email.label }}<span class="asteriskField">*</span> </label>-->
                <!--<input disabled type="email" name="{{ form.email.name }}" placeholder="E-mail" value="{{ form.email.value }}" class="form-control customclearablefileinput" id="{{ form.email.auto_id }}">-->
                <!--<small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.email.help_text }}</small>-->
             <!--</div>-->
            <div class="form-group" style="margin:5px>
                <label for="{{ form.first_name.auto_id }}" class="col-form-label">{{ form.first_name.label }}</label>
                <input type="text" name="{{ form.first_name.name }}" placeholder="{{ form.first_name.label }}" value="{{ form.first_name.value }}"  class="form-control customclearablefileinput" id="{{ form.first_name.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.first_name.help_text }}</small>
             </div>
            <div class="form-group" style="margin:5px>
                <label for="{{ form.last_name.auto_id }}" class="col-form-label">{{ form.last_name.label }} </label>
                <input type="text" name="{{ form.last_name.name }}" placeholder="{{ form.last_name.label }}" value="{{ form.last_name.value }}"  class="form-control customclearablefileinput" id="{{ form.last_name.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.first_name.help_text }}</small>
             </div>
            <div class="form-group" style="margin:5px>
                <label for="{{ form.email.auto_id }}" class="col-form-label">{{ form.email.label }} </label>
                <input type="text" name="{{ form.email.name }}" placeholder="{{ form.email.label }}" value="{{ form.email.value }}"  class="form-control customclearablefileinput" id="{{ form.email.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.first_name.help_text }}</small>
             </div>
            <div class="form-group" style="margin:5px>
                <label for="{{ form.telephone.auto_id }}" class="col-form-label">{{ form.telephone.label }} </label>
                <input type="text" name="{{ form.telephone.name }}" placeholder="{{ form.telephone.label }}" value="{{ form.telephone.value }}"  class="form-control customclearablefileinput" id="{{ form.telephone.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.first_name.help_text }}</small>
             </div>
            <div class="form-group" role="group" aria-label="Buttons" align="center">
                <button type="submit" class="btn btn-primary btn-block">Сохранить</button>

            </div>
        </form>
        </div>
        </div>
    </div>
</div>
    <div class="row justify-content-center">
    <div class="col-sm-4 col-md-8">
        <div class="card" style="padding:5px;margin:10px;">
        <div class="card-body">
        <h4 class="card-title">Данные об организации</h4>

        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
            <!--<div class="form-group" style="margin:5px>-->
                <!--<label for="{{ form.email.auto_id }}" class="col-form-label">{{ form.email.label }}<span class="asteriskField">*</span> </label>-->
                <!--<input disabled type="email" name="{{ form.email.name }}" placeholder="E-mail" value="{{ form.email.value }}" class="form-control customclearablefileinput" id="{{ form.email.auto_id }}">-->
                <!--<small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.email.help_text }}</small>-->
             <!--</div>-->
            <div class="form-group" style="margin:5px>
                <label for="{{ form.name_org.auto_id }}" class="col-form-label">{{ form.name_org.label }}</label>
                <input type="text" name="{{ form.name_org.name }}" placeholder="{{ form.name_org.label }}" value="{{ form.name_org.value }}"  class="form-control customclearablefileinput" id="{{ form.name_org.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.name_org.help_text }}</small>
             </div>
            <div class="form-group" style="margin:5px>
                <label for="{{ form.name_director.auto_id }}" class="col-form-label">{{ form.name_director.label }} </label>
                <input type="text" name="{{ form.name_director.name }}" placeholder="{{ form.name_director.label }}" value="{{ form.name_director.value }}"  class="form-control customclearablefileinput" id="{{ form.name_director.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.first_name.help_text }}</small>
             </div>
            <div class="form-group" style="margin:5px>
                <label for="{{ form.email.auto_id }}" class="col-form-label">{{ form.email.label }} </label>
                <input type="text" name="{{ form.email.name }}" placeholder="{{ form.email.label }}" value="{{ form.email.value }}"  class="form-control customclearablefileinput" id="{{ form.email.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.first_name.help_text }}</small>
             </div>
            <div class="form-group" style="margin:5px>
                <label for="{{ form.telephone.auto_id }}" class="col-form-label">{{ form.telephone.label }} </label>
                <input type="text" name="{{ form.telephone.name }}" placeholder="{{ form.telephone.label }}" value="{{ form.telephone.value }}"  class="form-control customclearablefileinput" id="{{ form.telephone.auto_id }}">
                <small id="hint_{{ form.image.auto_id }}" class="form-text text-muted">{{ form.first_name.help_text }}</small>
             </div>
            <div class="form-group" role="group" aria-label="Buttons" align="center">
                <button type="submit" class="btn btn-primary btn-block">Сохранить</button>

            </div>
        </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}
